AnnouncementFlow/mdapipkg/unpackaged/flows/messageflow-41.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>CheckDefaultAttachment</name>
        <label>CheckDefaultAttachment</label>
        <locationX>637</locationX>
        <locationY>467</locationY>
        <defaultConnector>
            <targetReference>GetDefaultContentVersion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AttachmentPresentDefault</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DefaultAttachmentRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AttachmentDefaultScreen</targetReference>
            </connector>
            <label>AttachmentPresentDefault</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckWhetherAttacmentPresentOrNot</name>
        <label>CheckWhetherAttacmentPresentOrNot</label>
        <locationX>623</locationX>
        <locationY>32</locationY>
        <defaultConnector>
            <targetReference>GetContentVersionID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AttachmentAbsent</defaultConnectorLabel>
        <rules>
            <name>AttachmentPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AttachmentVariable.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AttachmentScreen</targetReference>
            </connector>
            <label>AttachmentPresent</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckWhetherRecordIsThereOrNot</name>
        <label>CheckWhetherRecordIsThereOrNot</label>
        <locationX>243</locationX>
        <locationY>254</locationY>
        <defaultConnector>
            <targetReference>GetDefaultImage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>RecordPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoticeVariable.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoticeVariable.Default_Image__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTheAttachmentID</targetReference>
            </connector>
            <label>RecordPresent</label>
        </rules>
    </decisions>
    <formulas>
        <name>currentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <interviewLabel>messageflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Announcements</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_display_text</name>
        <label>Get display text)</label>
        <locationX>45</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckWhetherRecordIsThereOrNot</targetReference>
        </connector>
        <filters>
            <field>Display_Text__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Start_date_time__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>currentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>end_date_time__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>currentDateTime</elementReference>
            </value>
        </filters>
        <object>Notice_board__c</object>
        <outputAssignments>
            <assignToReference>NoticeVariable.Default_Image__c</assignToReference>
            <field>Default_Image__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NoticeVariable.Default_Image__c</assignToReference>
            <field>Default_Image__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NoticeVariable.Display_Footer__c</assignToReference>
            <field>Display_Footer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NoticeVariable.Display_Heading__c</assignToReference>
            <field>Display_Heading__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NoticeVariable.Display_Text__c</assignToReference>
            <field>Display_Text__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NoticeVariable.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NoticeVariable.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetAttachmentIDDefault</name>
        <label>GetAttachmentIDDefault</label>
        <locationX>453</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckDefaultAttachment</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DefaultRecordVariable.Id</elementReference>
            </value>
        </filters>
        <object>Attachment</object>
        <outputAssignments>
            <assignToReference>DefaultAttachmentRecord.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetContentVersionID</name>
        <label>GetContentVersionID</label>
        <locationX>750</locationX>
        <locationY>160</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContentScreen</targetReference>
        </connector>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NoticeVariable.Name</elementReference>
            </value>
        </filters>
        <object>ContentVersion</object>
        <outputAssignments>
            <assignToReference>ContentVersionVariable.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetDefaultContentVersion</name>
        <label>GetDefaultContentVersion</label>
        <locationX>753</locationX>
        <locationY>332</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>defaultScreen</targetReference>
        </connector>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DefaultRecordVariable.Name</elementReference>
            </value>
        </filters>
        <object>ContentVersion</object>
        <outputAssignments>
            <assignToReference>DefaultContentVersionRecord.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetDefaultImage</name>
        <label>GetDefaultImage</label>
        <locationX>242</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAttachmentIDDefault</targetReference>
        </connector>
        <filters>
            <field>Default_Image__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Notice_board__c</object>
        <outputAssignments>
            <assignToReference>DefaultRecordVariable.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DefaultRecordVariable.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetTheAttachmentID</name>
        <label>GetTheAttachmentID</label>
        <locationX>449</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckWhetherAttacmentPresentOrNot</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NoticeVariable.Id</elementReference>
            </value>
        </filters>
        <object>Attachment</object>
        <outputAssignments>
            <assignToReference>AttachmentVariable.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>AttachmentDefaultScreen</name>
        <label>AttachmentDefaultScreen</label>
        <locationX>955</locationX>
        <locationY>470</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AttachmentDefaultImage</name>
            <fieldText>&lt;img src=&quot;/servlet/servlet.FileDownload?file={!DefaultAttachmentRecord.Id}&quot; style=&quot;width:100%&quot; alt=&quot;Announcement&quot;/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>AttachmentScreen</name>
        <label>AttachmentScreen</label>
        <locationX>957</locationX>
        <locationY>29</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Attachment</name>
            <fieldText>&lt;img src=&quot;/servlet/servlet.FileDownload?file={!AttachmentVariable.Id}&quot; style=&quot;width:100%&quot; alt=&quot;Announcement&quot;/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HeaderAttachment</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#1798c1&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!NoticeVariable.Display_Heading__c}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TextAttachment</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!NoticeVariable.Display_Text__c}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>footerAttachment</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;* {!NoticeVariable.Display_Footer__c}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>ContentScreen</name>
        <label>ContentScreen</label>
        <locationX>955</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ContentImage</name>
            <fieldText>&lt;img src=&quot;/sfc/servlet.shepherd/version/renditionDownload?rendition=THUMB720BY480&amp;versionId={!ContentVersionVariable.Id}&quot; width=&quot;100%&quot; alt=&quot;No Document Available&quot;/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HeaderContent</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Verdana&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#1798c1&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!NoticeVariable.Display_Heading__c}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textContent</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!NoticeVariable.Display_Text__c}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>footerContent</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;* {!NoticeVariable.Display_Footer__c}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InformationToDisplay</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#0066FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;&lt;/B&gt;&lt;FONT FACE=&quot;_typewriter&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InfoText</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;FONT STYLE=&quot;font-size:16px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>footerText</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#999999&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>defaultScreen</name>
        <label>default Screen</label>
        <locationX>952</locationX>
        <locationY>332</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>defaultDisplay</name>
            <fieldText>&lt;img src=&quot;/sfc/servlet.shepherd/version/renditionDownload?rendition=THUMB720BY480&amp;versionId={!DefaultContentVersionRecord.Id}&quot; width=&quot;100%&quot; alt=&quot;No Document Available&quot;/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Get_display_text</startElementReference>
    <variables>
        <name>AttachmentVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Attachment</objectType>
    </variables>
    <variables>
        <name>ContentVersionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>DefaultAttachmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Attachment</objectType>
    </variables>
    <variables>
        <name>DefaultContentVersionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>DefaultRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Notice_board__c</objectType>
    </variables>
    <variables>
        <name>NoticeVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Notice_board__c</objectType>
    </variables>
</Flow>
